HELP.md

# Maven
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE - STS / Eclipse
.classpath
.project
.settings
.factorypath
.springBeans
.apt_generated
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Build folders
build/
!**/src/main/**/build/
!**/src/test/**/build/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
